body{
    min-height: 100vh;
    background-color: rgb(209, 148, 18);
}

@media screen and (min-width:575px){
    body{
        background-color: rgb(75, 209, 18);
    } 
}

@media screen and (min-width:991px){
    body{
        background-color: rgb(18, 107, 209);
    } 
}